<div class="row">
	<div class="col-md-12">
        <h1>Dashboard <small>Credits Per Ton: {{ creditsPerTon }} <strong>CR</strong></small></h1>

		<div class="panel panel-default">
			<div class="panel-heading">
                <span>
                    <strong>Credit:</strong> 
                    <div contenteditable="true" id="credit_amount" class="editableField-small" ng-model="creditAmount" onupdate="calculate" nocr="true"></div> 
                    <strong>CR</strong>
                </span>
                <span class="pull-right">
                    <strong>Cargo Capacity:</strong> 
                    <div contenteditable="true" id="cargo_capacity" class="editableField-small" onupdate="calculate" ng-model="cargoCapacity" nocr="true"></div> 
                    <strong>T</strong>
                </span>
            </div>

			<div class="panel-body">

<!--                     LEFT COLUMN -->
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <div class="input-group-btn" id="stationADropDown">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Depart <span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="result in search.stationAResults">
                                            <a class="pointer" ng-click="getStationCommodities(result, 'stationA')">
                                                <strong>{{ result.station }}</strong> <small>({{ result.system }})</small>
                                            </a>
                                        </li>
                                    </ul>
                                </div><!-- /btn-group -->
                                <input type="text" class="form-control" aria-label="..." ng-model="search.stationA" ng-keyup="findStations('stationA')">
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-group">
                                <li ng-repeat="commodity in commodities.filtered.stationA" class="list-group-item">
                                    <strong>{{ commodity.commodity }}</strong>

                                    <span class="pull-right">(<sup>SELL</sup> <strong style="color:darkred">-{{commodity.cost_value || ' - - -'}}</strong> CR)</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

<!--                    COMPARISON COLUMN -->
                <div class="col-md-4">
                    <div style="height: 34px;">
                        &nbsp;
                    </div>
                    <ul class="list-group">
                        <li ng-repeat="commodity in commodities.comparison" class="list-group-item" style="text-align:center; border: 1px solid white;">
                            
                            <div ng-if="commodity.gain && commodity.profit <= creditsPerTon" style="background-color:lightgreen;">+{{ commodity.profit }} <strong>CR</strong> @ {{ cargoCapacity }} <strong>T</strong> is {{ (cargoCapacity * commodity.profit) }} <strong>CR</strong></div>
                            <div ng-if="commodity.gain && commodity.profit > creditsPerTon" style="background-color:yellow;">+{{ commodity.profit }} <strong>CR</strong> @ {{ cargoCapacity }} <strong>T</strong> is {{ (cargoCapacity * commodity.profit) }} <strong>CR</strong></div>
                            <div ng-if="!commodity.gain" style="background-color:red">{{ commodity.profit }} <strong>CR</strong> loss</div>

                        </li>
                    </ul>
                </div>

<!--                    RIGHT COLUMN -->
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <div class="input-group-btn" id="stationBDropDown">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Destination <span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="result in search.stationBResults">
                                            <a class="pointer" ng-click="getStationCommodities(result, 'stationB')">
                                                <strong>{{ result.station }}</strong> <small>({{ result.system }})</small>
                                            </a>
                                        </li>
                                    </ul>
                                </div><!-- /btn-group -->
                                <input type="text" class="form-control" aria-label="..." ng-model="search.stationB" ng-keyup="findStations('stationB')">
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <li ng-repeat="commodity in commodities.filtered.stationB" class="list-group-item">
                                <span>(<sup>BUY</sup> <strong style="color:darkgreen">+{{commodity.purchase_value || ' - - -'}}</strong> CR)</span>
                                <strong  class="pull-right">{{ commodity.commodity }}</strong>
                            </li>
                        </div>
                    </div>
                </div>

			</div>
		</div>
	</div>
</div>