<div class="row">
	<div class="col-md-12">
        <h1>Dashboard <small>Credits Per Ton: {{ user.totalAsset }} <strong>CR</strong></small></h1>

		<div class="panel panel-default">
			<div class="panel-heading">
                <span>
                    <strong>Credit:</strong> 
                    <span contenteditable="true" id="credit_amount" class="editableField-small" ng-model="user.creditAmount" bindevents="blur change" onupdate="calculate" nocr="true">{{ user.creditAmount }}</span> 
                    <strong>CR</strong>
                </span>
                <span class="pull-right">
                    <strong>Cargo Capacity:</strong> 
                    <span contenteditable="true" id="cargo_capacity" class="editableField-small" ng-model="user.cargoCapacity" bindevents="blur change" onupdate="calculate" nocr="true">{{ user.cargoCapacity }}</span> 
                    <strong>T</strong>
                </span>
            </div>

			<div class="panel-body">

<!--                     LEFT COLUMN -->
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div><!-- /btn-group -->
                                <input type="text" class="form-control" aria-label="...">
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-group">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                        </div>
                    </div>
                </div>

<!--                    COMPARISON COLUMN -->
                <div class="col-md-4">
                    <ul class="list-group">
                        <li class="list-group-item">Cras </li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>

<!--                    RIGHT COLUMN -->
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div><!-- /btn-group -->
                                <input type="text" class="form-control" aria-label="...">
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-group">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                        </div>
                    </div>
                </div>

			</div>
		</div>
	</div>
</div>