<div class="row">
	<div class="col-md-12">

		<h1>Add Station</h1>

		<div class="panel panel-default">
			<div class="panel-heading">Please fill in all the fields..</div>

			<div class="panel-body">

					
				<form class="form-group">
					<div class="row">
						<div class="col-md-6">
							<label>System Name</label>
							<input class="form-control" type="text" name="system_name" ng-model="systemName" />
						</div>

						<div class="col-md-6">
							<label>Station Name</label>
							<input class="form-control" type="text" name="station_name" ng-model="stationName" />
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<input type="file" id="input" fileread="csvContent">
						</div>
						<div class="col-md-12">  <!-- -->
							<label>Please Copy &amp; Paste CSV content into the text area</label>
							<textarea ng-change="parseCsvCommodities()" class="form-control" style="margin-bottom:10px" name="csv_content" rows="15" ng-model="csvContent"></textarea>
							<!-- <div class="alert alert-danger" role="alert">Invalid CSV</div> -->
						</div>
						<div class="col-md-12">
							<p class="bg-warning" ng-show="csvError != false">{{ csvError }}</p>
							<p>
								<strong ng-show="commodities.length > 0">{{ commodities.length }} commodities identified.</strong>
								<button ng-disabled="$scope.csvError == false" ng-click="addStationAndCommodities()" type="submit" class="btn btn-default pull-right">Add Station</button>
							</p>
						</div>
					</div>

<!-- 					<div class="row">
						
					</div> -->
				</form>
			</div>
		</div>
	</div>
</div>
		
